/* Sections */

section {
    position: relative;
    overflow: hidden;
}

.content-container {
    display: inline-block;
    width: 100%;
}

.intro {
    background: url('../Img/provide-hero.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.feature-section {
    background-color: #E3EAFA;
}

.screenshot {
    background: url("../Img/product-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.use-cases {
    background: url("../Img/use-cases-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.team-advisors-section {
    background: url("../Img/product-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cio-info {
    background: url("../Img/provide-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: inherit;
    padding-bottom:96px;
}

.cio-info-section {
    height: 290px;
    width: 100%;
    opacity: 0.8;
    background-color: #E3EAFA;
    display: flex;
}

.cio-details-container {
    display: flex;
}

.footer {
    background-color: #0E142E;
    height: 255px;
    width: 100%;
}

/* Main Tags */

h1,
h2,
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Intro Details */
.intro-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

#intro-header {
    color: #ffffff;
    line-height: 44px;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    width: 733px;
    margin-top: 64px;
    text-align: center;
}

#intro-details {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 38px;
    width: 762px;
    margin-top: 16px;
}

#intro-logo {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 426px;
    height: 110px;
}


#sign-up {
    color: #E3EAFA;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    width: 256px;
    border:none;
    border-radius: 36px;
    background-color: #0E142E;
    margin-top: 82px;
    margin-bottom: 60px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding-right:auto;
    padding-left:auto;
    padding-top:17px;
    padding-bottom:17px;
}

#sign-up:active,
#sign-up:focus {
    border: none;
    outline: none;
}

/* Features Details */
 

.feature-main-container {
    margin-top: 64px;
    margin-bottom:64px;
}
#feature-header {
    color: #02A2E0;
    width: auto;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
}

#feature-details {
    width: 762px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 37px;
    margin-top: 12px;
}

.feature-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 61px;
    width: 100%;
}
#feature-item-link {
    text-decoration:none;
    color: #02A2E0;
    cursor:pointer;
}
#feature-item-link:hover{
    text-decoration:underline;
    color:#02A2E0;
}

img {
    display: block;
    margin: auto;
}

.feature-item-img {
    height: 96.07px;
    width: 90px;
    margin-top: 61px;
}

.feature-item-title {
    width: 300px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 34px;
}

.feature-item-details {
    width: 370px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    text-align: center;
}
/* Screenshot Details */

.screenshot-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 72px;
    margin-top: 72px;
    margin-left: 137px;
}
.screenshot-details-container {
    margin-right: 164px;
}

#screenshot-header {
    width: 400px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: left;
    margin-left: 20px;
}

#screenshot-details {
    width: 371px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    text-align: left;
}

#slideshow-container {
    margin-right: 128px;
    width:627px;
    height:inherit;
 }


/* Use Cases Section */

.use-cases-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 73px;
    margin-bottom: 73px;
}

.use-cases-details-container {
    margin-right: 164px;
}

.use-cases-item-container {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}

#use-cases-header {
    color: #02A2E0;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
    margin-left: 164px;
}

#use-cases-details {
    width: 338px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 21px;
    margin-left: 164px;
}

#use-cases-item-img {
    height: 81px;
    width: 80px;
}

.use-cases-item-details {
    width: 403px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-left: 40px;
}

/* Team and Advisors Section */

.team-advisors-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.team-main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    margin-bottom:36px;
    margin-top:36px;
}

.team-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width:100%;
}

.team-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width:100%;
}

#team-header {
    color: #0E142E;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align:left;
    margin-left: 51px;
    width:100%;
}

.team-member-details {
    margin-right: 66px;
    margin-bottom: 35px;
}

.team-member-details-2 {
    margin-right: 45px;
    justify-content: center;
}

.team-member-img {
    height: 150px;
    width: 150px;
}

.team-member-img-row-2 {
    height: 100px;
    width: 100px;
}

.team-member-name {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 4px;
}

.team-member-title {
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
    font-weight: normal;
}

.advisors-main-container {
    background-color: #02A2E0;
    height: inherit;
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 383px;

}

.advisors-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top:36px;
    margin-bottom: 36px;
    margin-left:31px;
}

#advisors-header {
    color: #E3EAFA;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin-top: 90px;
    margin-left: 36px;
    margin-right: 199px;
    margin-bottom: 24px;
}

.advisor-member-details {
    margin-right: 31px;
}
.advisor-member-img {
    height: 90px;
    width: 90px;
}

.advisor-member-name {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    margin-top: 15px;
}

/* CIO Info Section */
.cio-details-container{
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 63px;   
    margin-bottom:63px;
}
#pic-container {
    box-sizing: border-box;
    height: 101px;
    width: 101px;
    border: 1px solid #979797;
    border-radius: 50%;
    background-color: #D8D8D8;
}

#cio-bio {
    width: 686px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin-left: 31.5px;
}

#cio-name {
    width: auto;
    color: #0E142E;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight:bold;
    line-height: 19px;
    text-align: left;
    margin-left: 31.5px;
}
/* partners and contact form section */

.partners-contactform-outer-container{
    display:flex;
    flex-direction: column;
    margin-top:68px;
}
.contact-form-container{
    margin-top:120px;
}
.partners-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.partners-logo {
    margin-right:70px;
    margin-top:0;
    margin-bottom:0;
}
.partners-logo img {
    height: 60px;
}
.contact-form-container{
    margin-top:120px;
}
#partners-header {
    width: 100%;	
    color: #FFFFFF;	
    font-family: 'Montserrat';	
    font-size: 32px;	
    font-weight: bold;	
    line-height: 39px;	
    text-align: center;
    margin-bottom:28px;
}
#contact-us-header {
    width: 100%;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin-bottom:24px;
}
/* Footer Section */

.footer-info-container {
    display: flex;
}

#footer-logo {
    height: 70px;
}

.logo-container {
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-left: 64px;
}

.details-container {
    float: right;
    display: flex;
    position: absolute;
    right: 64px;
}

#address-details {
    width: 230px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-top: 31px;
}

.social-media-links {
    margin-left: 48px;
    margin-top: 24px;
    text-align: left;
    justify-content: column;
}
#divider {
    height: 150px;
    width: 1px;
    background-color: #34394F;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.media-links {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    font-weight:300;
}
.link-icon {
    font-size: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.media-links:hover {
    color: #02A2E0;
}

i {
    margin-bottom: 12px;
    margin-right:20px;
    font-size: 20px;
}

#copyright {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    margin-top: 100px;
    font-weight: 300;
}

/* reponsiveness to other devices */


@media only screen and (max-width: 1024px) {

    /* intro adjustments */
    #sign-up {
        margin-left: auto;
        margin-right:auto;
    }
    /* Feature adjusments */
    .feature-items-container{
        display: flex;
        flex-direction: column;
        margin-top:10px;
    }
    .feature-item-details{
        width:700px;
    }
 
    .feature-item{
        margin-bottom:0;
    }
  /* screenshot adjustments */
    .screenshot-container {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    #screenshot-details {
        margin-bottom: 20px;
    }

    #slideshow-container {
        margin-left: auto;
        margin-right: auto;
    }

    /* use cases adjustments */
    #use-cases-header {
        width: 260px;
        margin-left: auto;
        margin-right:auto;
    }
    .use-cases-items-container{
        margin-top:60px;;
        margin-bottom:auto;
        margin-right:auto;
        margin-left:auto;
    }
    .use-cases-item-details {
        height: 48px;
        width: 210px;
        margin-top:0;
    }
    /* Team and Advisors adjusments */
    .team-main-container{
        margin-right:auto;
        margin-left:auto;    
    }
    .team-member-img {
        height: 120px;
        width: 120px;
    }

    .team-member-img-row-2 {
        height: 80px;
        width: 80px;
    }
    .team-container-1{
        margin-bottom:0;
    }
    .team-container-2{
        flex-wrap: wrap;
    }
    .team-member-details{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0;
    }
    
    .team-member-details-2 {
        margin-right:auto;
        margin-left:auto;
        margin-top:35px;
    }
    
    
}

@media only screen and (max-width: 768px) {

    /* intro adjustments */
    #sign-up {
        margin-left: 35%;
    }

    /* feature adjustments */
    #feature-header {
        height: 48px;
        width: 650px;
        margin-bottom: 80px;
    }
     #feature-details {
         width: 600px;
     }
    .feature-item-details {
        width: 600px;
        margin-bottom:20px;
    }

    /* use cases adjustments */
    .use-cases-container {
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .use-cases-details-container {
        margin-right: auto;
        margin-bottom: 20px;
        margin-top:0;

    }
    .use-cases-item-container{
        margin-left:auto;
        margin-right:auto;
    }
    #use-cases-details{
       width:500px;
     }
    .use-cases-item-details {
        width:400px;
    }
    /* Team-Advisors-Section */
    .team-member-img {
        height: 100px;
        width: 100px;
     }

    .team-member-img-row-2 {
        height: 80px;
        width: 80px;
    }
    .team-member-title{
        font-size:8px;
    }
    .advisors-main-container{
        width:390px;
    }
    #advisors-header {
        margin-top:70px;
    }
    /* cio adjustments */
    #pic-container {
        margin-left: 50px;
    }

    #cio-bio {
        width: 500px;
    }

    #cio-name {
        width: 500px;
        margin-top: 30px;
    }

    /* partners and contact form adjustments */
    .partners-logo {
        margin-right: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* footer adjustments */
    .footer {
        height: inherit;
    }

    #address-details {
        margin-left: auto;
    }

    .footer-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo-container {
        margin-left: auto;
        margin-right: auto;
    }

    .details-container {
        float: none;
        flex-direction: column;
        position: relative;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #address-details {
        margin-left: 45px;
    }

    #divider {
        height: 1px;
        width: 200px;
        background-color: #34394F;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 414px) {

    /* background-containers */
    .intro {
        height: inherit;
    }

    /* Intro Details */
    .intro-container {
        margin-top: 107.64pt;
        margin-bottom: 170pt;
        margin-left: auto;
        margin-right: auto;
    }

    #intro-logo {
        margin-top: 0;
        width: 201pt;
        height: 66pt;
        margin-bottom: 0;
    }

    #intro-header {
        line-height: 29pt;
        font-size: 22pt;
        margin-bottom: 15.5pt;
        margin-top: 27pt;
        width:290pt;
    }

    #intro-details {
        font-size: 16pt;
        line-height: 21pt;
        width: 236pt;
        margin-top: 0;
        margin-bottom: 0;
        width:236pt;
    }

    #sign-up {
        font-size: 18pt;
        line-height: 36pt;
        width: 198pt;
        border-radius: 36pt;
        margin-top: 36pt;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding:10pt;


    }

    /* team and advisors section not display */
    .team-advisors-section {
        display: none;
    }

    /* Features Details */

    #feature-header {
        width: 288pt;
        font-size: 28pt;
        line-height: 34pt;
        margin-top: 48pt;
        text-align: center;
        padding-bottom: 32pt;
    }

    #feature-details {
        width: 300pt;
        font-size: 18pt;
        line-height: 24pt;
        text-align: center;
        padding-bottom: 0;
    }

    .feature-items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-bottom: 33.93pt;
        width: 90pt;
        height: 96.07pt;
    }

    .feature-item {
        margin-top: 33.93pt;
    }

    .feature-item-title {
        font-size: 36pt;
        font-weight: bold;
        line-height: 44pt;
        margin-bottom: 0;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        width:239pt;
    }

    .feature-item-details {
        width: 239pt;
        font-size: 18pt;
        line-height: 24pt;
        margin-top: 16pt;
        margin-bottom: 0;
        text-align:center;
    }

    /* Screenshot Details */

    .screenshot-details-container {
        margin-right: 36pt;
        margin-left: 36pt;
    }

    .screenshot-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 48pt;
        margin-top: 48pt;
    }

    #screenshot-header {
        width: 268pt;
        font-size: 36pt;
        line-height: 44pt;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24pt;
    }

    #screenshot-details {
        width: 268pt;
        font-size: 18pt;
        font-weight: 300;
        line-height: 24pt;
        margin-left: auto;
        margin-top: auto;
        text-align: left;
    }

    #slideshow-container {
        margin-top: 36pt;
        margin-right:auto;
        margin-left:auto;
    }

    /* Use Cases Section */
    .use-cases-container {
        margin-top: 45pt;
        margin-bottom: 45pt;
        margin-right: auto;
        margin-left: auto;
    }

    .use-cases-details-container {
        margin-right: 0;
    }

    .use-cases-items-container {
        margin-right: auto;
        margin-left: auto;
    }

    #use-cases-header {
        font-size: 36pt;
        line-height: 44pt;
        text-align: center;
        margin-left:36pt;
        margin-right:36pt;
    }

    #use-cases-details {
        font-size: 18pt;
        font-weight: 300;
        line-height: 24pt;
        margin-top: 23pt;
        margin-left:36pt;
        margin-right:36pt;
        width: 260pt;
    }

    .use-cases-item-img {
        height: 80pt;
        width: 80pt;
        margin-right:auto;
        margin-left:auto;
    }
    .use-cases-item-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .use-cases-item-details {
        width: 260pt;
        font-weight: 300;
        font-size: 18pt;
        line-height: 24pt;
        text-align: left;
        margin-left: auto;
        margin-right:auto;
        height:inherit;

    }

    /* CIO Info Section */

    .cio-info-section {
        margin: 0;
        width: inherit;
        height: 600pt;
    }

    .cio-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-right: auto;
        margin-left:auto;
        margin-top:5pt;
    }

    #pic-container {
        height: 100pt;
        width: 100pt;
        border: 1pt solid #979797;
        border-radius: 50%;
        margin-left: auto;
        margin-right:auto;
        margin-top: 0;

    }

    #cio-bio {
        width: 280pt;
        font-size: 14pt;
        font-weight: 300;
        line-height: 21pt;
        margin-top: 0;
        margin-left: 20pt;
        margin-bottom: 0;
        text-align: left;
    }

    #cio-name {
        width: 280pt;
        font-size: 16pt;
        font-weight: 300;
        line-height: 19pt;
        text-align: left;
        margin-top: 16pt;
        font-weight:bold;
    }
    /* partners and contact form section */

    .partners-contactform-outer-container{
        margin-top:56pt;
    }
    .contact-form-container{
        margin-top:75pt;
    }
    .partners-container {
        flex-direction: column;
    }
    .partners-logo {
        margin-right:0;
    }
    #authio-logo {
        width:79pt;
        height:40pt;
    }
    #intuit-factory-logo {
        width:124pt;
        height:40pt;
    }
    #atlantaai-logo{
        width:65pt;
        height:60pt;
    }
    #partners-header {
        font-size: 32pt;	
        line-height: 39pt;	
        margin-bottom:32pt;
    }
    #contact-us-header {
        font-size: 32pt;
        line-height: 39pt;
        margin-bottom:36pt;
    }
    /* footer adjustments */
    
    #footer-logo {
        width:201pt;
        height:66pt;
        margin-right:60px
    }
    #divider{
        display:none;
    }
    .details-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .media-links{
        font-size:14pt;
        line-height:19pt;
    }
    #address-details{
        width:260pt;
        font-size:14pt;
        line-height:22pt;
        text-align:left;
    }
    #copyright {
        width:240pt;
        font-size:12pt;
        line-height:19pt;
        margin-top:24pt;
        text-align:center;
    }


}

@media only screen and (max-width: 375px) {

    /* Intro Details */
    #intro-logo {
        width: 190pt;
        height:62pt;
        margin-top: 0;
        margin-bottom: 10pt;
    }

    #intro-header {
        width: 230pt;
        line-height: 24pt;
        font-size: 16pt;
        margin-bottom: 10pt;
        margin-top: 0;
    }

    #intro-details {
        width: 200pt;
        font-size: 12pt;
        line-height: 18pt;
        margin-top: 0;
        margin-bottom: 20pt;
    }

    #sign-up {
        font-size: 16pt;
        line-height: 30pt;
        width: 170pt;
        border-radius: 36pt;
    }

    /* Features Details */

    #feature-header {
        width: 250pt;
        font-size: 24pt;
        line-height: 30pt;
        margin-top: 38pt;
        text-align: center;
    }

    #feature-details {
        width: 250pt;
        font-size: 16pt;
        line-height: 20pt;
        text-align: center;
    }

    .feature-item {
        margin-top: 28pt;
    }

    .feature-item-title {
        font-size: 30pt;
        line-height: 40pt;
        margin-left:auto;
        margin-right:auto;
        width: 226pt;

    }

    .feature-item-details {
        width: 220pt;
        font-size: 16pt;
        line-height: 22pt;
        margin-top: 10pt;
        margin-bottom: 38pt;
    }

    /* Screenshot Details */

    .screenshot-details-container {
        margin-right: 26pt;
        margin-left: 26pt;
    }

    .screenshot-container {
        margin-bottom: 38pt;
        margin-top: 38pt;
    }

    #screenshot-header {
        width: 218pt;
        font-size: 27pt;
        line-height: 38pt;
        margin-bottom: 24pt;
    }

    #screenshot-details {
        width: 218pt;
        font-size: 16pt;
        font-weight: 300;
        line-height: 20pt;
    }

    #slideshow-container {
        margin-top: 24pt;
    }

    /* Use Cases Section */
    .use-cases-container {
        margin-right: auto;
        margin-left: auto;
    }

    #use-cases-details{
        margin-left: auto;
        margin-right:auto;
        font-size:14pt;
        line-height:19pt;
        width:200pt;
    }

    .use-cases-item-details {
        margin-left: auto;
        margin-right:auto;
        font-size:14pt;
        line-height:19pt;
        width:200pt;
        
    }

    /* CIO Info Section */
    
    #cio-bio {
        width: 220pt;
        font-size: 12pt;
    }
    #cio-name {
        width: 250pt;
    }
}

@media only screen and (max-width: 320px) {
    #slideshow-container {
        margin-top: 24pt;
    }
     /* footer adjustments */
    
    #footer-logo {
        margin-right:20px
    }

    .media-links{
        font-size:12pt;
    }
    #address-details{
        font-size:12pt;
    }
}