/* Sections */

section {
    position: relative;
    overflow: hidden;
}

.intro {
    background: url('../Img/header_image_provide.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.feature-section {
    background-color: #E3EAFA;
}

.screenshot {
    background: url("../Img/product_section_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.use-cases {
    background: url("../Img/use_section_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.team-advisors-section {
    background: url("../Img/product_section_background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.cio-info {
    background: url("../Img/footer_image_provide.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.cio-info-section {
    height: 228px;
    width: 100%;
    opacity: 0.8;
    background-color: #E3EAFA;
    display: flex;
}

.cio-details-container {
    display: flex;
}

.footer {
    background-color: #0E142E;
    height: 255px;
    width: 100%;
}

/* Main Tags */

h1,
h2,
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Intro Details */

#intro-header {
    color: #ffffff;
    line-height: 44px;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    width: 733px;
    margin-top: 64px;
    text-align: center;
}

#intro-details {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 38px;
    width: 762px;
    margin-top: 16px;
}

#intro-logo {
    display: block;
    margin-top: 165px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 426px;
}

#sign-up {
    color: #E3EAFA;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    width: 256px;
    height: 72px;
    border: #0E142E;
    border-radius: 36px;
    background-color: #0E142E;
    margin-left: 44%;
    margin-top: 80px;
    margin-bottom: 87px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sign-up:active,
#sign-up:focus {
    border: none;
    outline: none;
}

/* Features Details */

#feature-header {
    color: #02A2E0;
    width: 977px;
    width: auto;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-top: 64px;
}

#feature-details {
    width: 762px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 37px;
    margin-top: 12px;
    margin-bottom: 0px;

}

.feature-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


img {
    display: block;
    margin: auto;
}

.feature-item {
    margin-top: 61px;
}

.feature-item-img {
    height: 96.07px;
    width: 90px;
    margin-top: 61px;
}

.feature-item-title {
    width: 142px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 33.93px;
}

.feature-item-details {
    width: 239px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 69px;
}

/* Screenshot Details */
.screenshot-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 72px;
    margin-top: 72px;
    margin-left: 137px;
}
.screenshot-details-container{
    margin-right: 164px;

}
#screenshot-header {
    width: 400px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: left;
    margin-left:20px;
}

#screenshot-details {
    width: 371px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    text-align: left;
}

#slideshow-container {
    margin-right: 128px;

}

/* Use Cases Section */

.use-cases-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 73.04px;
    margin-bottom: 73.04px;
}

.use-cases-details-container {
    margin-right: 164px;
}

.use-cases-item-container {
    margin-bottom: 56.36px;
    display: flex;
    align-items: center;
}

#use-cases-header {
    color: #02A2E0;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
    margin-left: 164px;
}
#use-cases-details {
    width: 338px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 21px;
    margin-left: 164px;
}


#use-cases-item-img {
    height: 81.25px;
    width: 79.92px;
}

.use-cases-item-details {
    width: 403px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-left: 40.21px;
}

/* Team and Advisors Section */

.team-advisors-section {
    display: flex;
}
.team-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 58px;
}

.team-container-1{
    display:flex;
    flex-wrap: nowrap;
    margin-right: 75px;
}
.team-container-2{
    display: flex;
    flex-wrap: nowrap;
    margin-right:75px;
}

#team-header {
    color: #0E142E;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin-left: 51px;
    margin-bottom: 40px;
    margin-right: 667px;
}

.team-member-details {
    margin-right:66px;
    margin-bottom:35px;
}

.team-member-details-2 {
    margin-right: 76px;
    justify-content: center;
}

.team-member-img {
    height: 130px;
    width: 130px;
}
.team-member-img-row-2{
    height:90px;
    width:90px;
}
.team-member-name {
    color:#ffffff;	 
    font-family: 'Roboto';	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 19px;	
    text-align: center;
    margin-top:11px;
    margin-bottom: 4px;
}

.team-member-title {
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
    font-weight: normal;
}
.advisors-main-container {
    background-color: #02A2E0;
    height: inherit;
    float: right;
    display: flex;
    flex-wrap: wrap;
    width:383px;
}

 .advisors-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 57px;
    margin-left: 31px;

 }

 #advisors-header{
    color: #E3EAFA;	
    font-family:'Montserrat';	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 44px;
    margin-top:36px;
    margin-left:36px;
    margin-right:199px;
    margin-bottom: 24px;
}

.advisor-member-details {
    margin-right: 31px;
}
.advisor-member-img {
    height:60px;
    width:60px;
}
.advisor-member-name {	
    color: #FFFFFF;	
    font-family: 'Roboto';	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 19px;	
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
}

.advisor-member-title{
    color: #FFFFFF;	
    font-family: 'Roboto';	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 19px;
    text-align: left;
}

/* CIO Info Section */

#pic-container {
    box-sizing: border-box;
    height: 101px;
    width: 101px;
    border: 1px solid #979797;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin-left: 281.5px;
    margin-top: 63.5px;
}

#cio-bio {
    width: 584px;
    color: #0E142E;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin-top: 78px;
    margin-left: 31.5px;
}

#cio-name {
    width: 242px;
    color: #0E142E;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin-left: 31.5px;
}

/* Footer Section */

.footer-info-container {
    display: flex;
}

#footer-logo {
    height: 70px;
}

.logo-container {
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-left: 64px;
}
.details-container {
    float: right;
    display: flex;
    position: absolute;
    right: 64px;
}
#address-details {
    width: 230px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-top: 31px;
}

.social-media-links {
    margin-left: 48px;
    margin-top: 24px;
    text-align: left;
    justify-content: column;
}


#divider {
    height: 150px;
    width: 1px;
    background-color: #34394F;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.media-links {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    font-weight:300;
}


.link-icon {
    font-size: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.media-links:hover {
    color: #02A2E0;
}

i {
    margin-bottom: 12px;
    margin-right: 20px;
    font-size: 20px;
}

#copyright {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 19px;
    margin-top: 100px;
    font-weight: 300;
}


/* reponsiveness to other devices */



@media only screen and (max-width: 1186px) {

    /* screenshot adjustments */
        .screenshot-container {
            flex-wrap: nowrap;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #screenshot-header {
            margin-top: 20px;
            margin-left: 80px;
        }

        #screenshot-details {
            margin-left: 80px;
        }

        #slideshow-container {
            margin-left: 70px;
        }

    /* use cases adjustments */
        .use-cases-container {
            flex-wrap: nowrap;
        }

        #use-cases-header {
            margin-left: 55px;
        }

        #use-cases-details {
            margin-left: 80px;
        }

        .use-cases-item-details {
            height: 48px;
            width: 290px;
        }

        .use-cases-container {
            flex-wrap: nowrap;
        }

    /* footer adjustments */
        .cio-info {
            height: 600px;
        }

        #pic-container {
            margin-left: 100px;
        }
}

@media only screen and (max-width: 1024px) {

    /* intro adjustments */
        #sign-up {
            margin-left: 40%;
        }

    /* screenshot adjustments */
        .screenshot-details-container {
            margin-left: 10px;
            margin-right: 10px;
        }

        #slideshow-container {
            margin-left: 20px;
        }

    /* use cases adjustments */
        #use-cases-header {
            width: 260px;
            margin-top: 60px;
            margin-left: 80px;
        }

        .use-cases-item-details {
            height: 48px;
            width: 210px;
        }
}

@media only screen and (max-width: 768px) {

    /* intro adjustments */
        #sign-up {
            margin-left: 35%;
        }

    /* feature adjustments */
        #feature-header {
            height: 48px;
            width: 750px;
            margin-bottom: 80px;
        }

        .feature-item-details {
            width: 210px;
        }

    /* screenshot adjusments */
        .screenshot-container {
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom:60px;
            margin-left: auto;
            margin-right:auto;

        }

        #screenshot-details {
            margin-bottom: 20px;
        }

        #slideshow-container {
            margin-left: auto;
            margin-top: 0;
        }

    /* use cases adjustments */
        .use-cases-container {
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom:60px;
            margin-left: auto;
            margin-right:auto;
        }
        
        .use-cases-details-container {
            margin-right: auto;
            margin-bottom: 20px;
        }

    /* cio adjustments */
        #pic-container {
            margin-left: 50px;
        }

        #cio-bio {
            width: 500px;
        }

        #cio-name {
            width: 200px;
            margin-top: 30px;
        }

    /* footer adjustments */
        .footer {
            height: inherit;
        }
        #address-details {
            margin-left: auto;
        }

        .footer-info-container {
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .logo-container{
            margin-left: auto;
            margin-right:auto;
        }
        .details-container {
            float: none;
            flex-direction: column;
            position: relative;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
        }
        #address-details{
            margin-left:45px;
        }
        #divider {
            height: 1px;
            width: 200px;
            background-color: #34394F;
            margin-top: 10px;
            margin-bottom:10px;
            margin-left: auto;
            margin-right: auto;
        }
}


@media only screen and (max-width: 414px) {

    /* background-containers */
        .intro {
            height: inherit;
        }
    /* Intro Details */
        .intro-container {
            margin-top: 107.64pt;
            margin-bottom: 170pt;
            margin-left: auto;
            margin-right: auto;
        }

        #intro-logo {
            margin-top: 0;
            width: 201pt;
            height: 52pt;
            margin-bottom: 0;
        }

        #intro-header {
            line-height: 29pt;
            font-size: 24pt;
            margin-bottom: 15.5pt;
            margin-top: 27pt;
        }

        #intro-details {
            font-size: 16pt;
            line-height: 21pt;
            width: 236pt;
            margin-top: 0;
            margin-bottom: 0;
        }

        #sign-up {
            font-size: 18pt;
            line-height: 36pt;
            width: 198pt;
            height: 60pt;
            border-radius: 36pt;
            margin-top: 36pt;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;

        }

    /* team and advisors section not display */
        .team-advisors-section {
            display: none;
        }

    /* Features Details */

        #feature-header {
            width: 288pt;
            font-size: 28pt;
            line-height: 34pt;
            margin-top: 48pt;
            text-align: center;
            padding-bottom: 32pt;
        }

        #feature-details {
            width: 300pt;
            font-size: 18pt;
            line-height: 24pt;
            text-align: center;
            padding-bottom: 37pt;
        }

        .feature-items-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        img {
            margin-bottom: 33.93pt;
            width: 90pt;
            height: 96.07pt;

        }

        .feature-item {
            margin-top: 33.93pt;
        }

        .feature-item-title {
            width: 142pt;
            font-size: 36pt;
            font-weight: bold;
            line-height: 44pt;
            margin-bottom: 0;
        }

        .feature-item-details {
            width: 239pt;
            font-size: 18pt;
            line-height: 24pt;
            margin-top: 16pt;
            margin-bottom: 55pt;
        }

    /* Screenshot Details */

        .screenshot-details-container {
            margin-right: 36pt;
            margin-left: 36pt;
        }

        .screenshot-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 48pt;
            margin-top: 48pt;
        }

        #screenshot-header {
            width: 268pt;
            font-size: 36pt;
            line-height: 44pt;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24pt;
        }

        #screenshot-details {
            width: 268pt;
            font-size: 18pt;
            font-weight: 300;
            line-height: 24pt;
            margin-left: auto;
            margin-top: auto;
            text-align: left;
        }

        #slideshow-container {
            margin-left: 36pt;
            margin-right: 36pt;
            margin-top: 36pt;
        }

    /* Use Cases Section */
        .use-cases-container {
            margin-top: 47.09pt;
            margin-bottom: 45.87pt;
            margin-right: 34pt;
            margin-left: 34pt;
        }

        .use-cases-details-container {
            margin-right: 0;
        }

        .use-cases-item-container {
            margin-right: auto;
            margin-left: auto;
        }

        #use-cases-header {
            font-size: 36pt;
            line-height: 44pt;
            text-align: center;
        }

        #use-cases-details {
            font-size: 18pt;
            font-weight: 300;
            line-height: 24pt;
            margin-top: 23.94pt;
        }

        #use-cases-item-img {
            height: 81.14pt;
            width: 79.92pt;
        }

        .use-cases-item-details {
            width: 180pt;
            font-weight: 300;
            font-size: 18pt;
            line-height: 24pt;
            text-align: left;
            margin-left: 32pt;
        }

    /* CIO Info Section */

        .cio-info-section {
            margin: auto;
            width: inherit;
            height: 242pt;
        }
        .cio-details-container {
            display: flex;
            margin-right: 0;
        }

        #pic-container {
            height: 61pt;
            width: 61pt;
            border: 1pt solid #979797;
            border-radius: 50%;
            margin-left: 23pt;
            margin-top: 35.5pt;

        }

        #cio-bio {
            width: 200pt;
            font-size: 14pt;
            font-weight: 300;
            line-height: 21pt;
            margin-top: 36pt;
            margin-left: 20pt;
            margin-bottom: 5pt;
            text-align: left;
        }

        #cio-name {
            width: 232pt;
            font-size: 16pt;
            font-weight: 300;
            line-height: 19pt;
            text-align: left;
            margin-top: 16pt;
        }


}

@media only screen and (max-width: 375px) {

    /* Intro Details */
        #intro-logo {
            width: 170.4pt;
            margin-top: 0;
            margin-bottom: 10pt;
        }

        #intro-header {
            line-height: 24pt;
            font-size: 18pt;
            margin-bottom: 10pt;
            margin-top: 0;
        }

        #intro-details {
            font-size: 14pt;
            line-height: 18pt;
            margin-top: 0;
            margin-bottom: 20pt;
        }

        #sign-up {
            font-size: 16pt;
            line-height: 30pt;
            width: 170pt;
            height: 50pt;
            border-radius: 36pt;
        }

    /* Features Details */

        #feature-header {
            width: 250pt;
            font-size: 24pt;
            line-height: 30pt;
            margin-top: 38pt;
            text-align: center;
            padding-bottom: 10pt;
        }

        #feature-details {
            width: 250pt;
            font-size: 16pt;
            line-height: 20pt;
            text-align: center;
            padding-bottom: 10pt;
        }

        img {
            margin-bottom: 28pt;
        }

        .feature-item {
            margin-top: 28pt;
        }

        .feature-item-title {
            font-size: 30pt;
            line-height: 40pt;
        }

        .feature-item-details {
            width: 220pt;
            font-size: 16pt;
            line-height: 22pt;
            margin-top: 10pt;
            margin-bottom: 38pt;
        }

    /* Screenshot Details */

        .screenshot-details-container {
            margin-right: 26pt;
            margin-left: 26pt;
        }

        .screenshot-container {
            margin-bottom: 38pt;
            margin-top: 38pt;
        }

        #screenshot-header {
            width: 218pt;
            font-size: 27pt;
            line-height: 38pt;
            margin-bottom: 24pt;
        }

        #screenshot-details {
            width: 218pt;
            font-size: 16pt;
            font-weight: 300;
            line-height: 20pt;
        }

        #slideshow-container {
            margin-left: 26pt;
            margin-right: 26pt;
            margin-top: 24pt;
        }

    /* Use Cases Section */
        .use-cases-container {
            margin-right: auto;
            margin-left: auto;
        }

        .use-cases-item-details {
            margin-left: 12pt;
        }

    /* CIO Info Section */

        .cio-info-section {
            margin: auto;
            width: inherit;
            height: 212pt;
        }

        #pic-container {
            height: 51pt;
            width: 51pt;
            border: 1pt solid #979797;
            border-radius: 50%;
            margin-left: 15pt;
            margin-top: 35.5pt;

        }

        #cio-bio {
            width: 190pt;
            font-size: 12pt;
            font-weight: 300;
            line-height: 21pt;
            margin-top: 36pt;
            margin-left: 20pt;
            margin-bottom:0;
            text-align: left;
        }

        #cio-name {
            width: 202pt;
            font-size: 14pt;
            font-weight: 300;
            line-height: 19pt;
            text-align: left;
            margin-top: 20pt;
        }

}

