
 section {
     position: relative;
     overflow: hidden;
 }
.intro {
    background: url('../Img/header_image_provide.png');
    background-repeat: no-repeat;
    background-size: 100% 853px;
    padding-bottom: 87px;
}
h1, p {
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    line-height: 44px;
    font-family: 'Montserrat';
    font-size:36px;
    font-weight:  bolder;
    width:733px;
    height: 36px;
    padding-top:80px;
}

p {
    font-size: 28px;
    font-family: 'Roboto';
    font-weight:300;
    line-height:38px;
    width: 762px;
    height: 44px;
    padding-top:16px;

}

#intro-logo{
    display: block;
    padding-top: 165px;
    margin-left: auto;
    margin-right: auto;   
    width: 426px;
    height: 110px;
}
#sign-up {
    color: #E3EAFA;	
    font-family: 'Montserrat';
    font-size: 24px;	
    font-weight: 900;	
    line-height: 36px;	
    text-align: center;
    width: 256px;
    height: 72px;
    border: #0E142E;
	border-radius: 36px;
    background-color: #0E142E;
    margin-left:44%;
    margin-top:80px;
    cursor: pointer;
}
 /* reponsiveness to other devices */
 @media only screen and (max-width: 1024px) {

 }

 @media only screen and (max-width: 768px) {
     
 }

 @media only screen and (max-width: 414px) {
       
        
 }

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {
               
}
