ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 45px 60px 36px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
}

#logo {
    padding: 34px 744px 36px 37.49px;
    float: left;  
}

@media only screen and (max-width: 1470px) {
    ul {
        overflow: auto;
        white-space: nowrap;
    }

    ul li {
        display: inline-block;
    }

    li {
        float: none;
    }

    #logo {
        padding-right: 644px;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        padding-right: 444px;
    }
}

@media only screen and (max-width: 414px) {
    li a {
        font-size: 14px;
    }

    #logo {
        padding-right: 155px;
    }
}

@media only screen and (max-width: 375px) {
    #logo {
        padding-right: 145px;
    }
}

@media only screen and (max-width: 320px) {
    #logo {
        padding-right: 115px;
    }
}



    	


