
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}

li {
    float: left;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-top: 57px;
    margin-left: auto;
    margin-right: 37.49px;
    margin-bottom: 0;
    flex-wrap: nowrap;
}

li a {
    margin-top: 38px;
    margin-right: 60px;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
}

.nav-links:hover {
    color: #02A2E0
}

#logo {
    float: left;
    margin-top: 27.43px;
    margin-left: 37.49px;
    margin-bottom: 26.31px;
    margin-right: 0px;
}



@media only screen and (max-width: 1470px) {
    ul {
        overflow: auto;
        white-space: nowrap;
    }

    ul li {
        display: inline-block;
    }

    li {
        float: none;
    }
}

@media only screen and (max-width: 1024px) {
    .links {
        margin-left: auto;
    }
}

@media only screen and (max-width: 768px) {
    .links {
        margin-top: 58px;
        margin-left: 900px;
        margin-right:0;
    }
}

@media only screen and (max-width: 414px) {
    .links {
        margin-right: 0;
        margin-left: 750pt;
        margin-bottom: 0;

    }

    li a {
        display: block;
        margin-right: 60pt;
        font-size: 16pt;
        line-height: 22pt;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;

    }

    #logo {
        float: left;
        margin-left: 22.44pt;
        margin-top: 24pt;
        margin-bottom: 24pt;
        margin-right: 55pt;
        ;
    }

    #logo img {
        width: 156pt;
        height: 54pt;
        margin-bottom: 0;
    }

    #team-link {
        display: none;
    }
}



