.slide-image{
    width:627px;
    height:362px;
}

@media only screen and (max-width: 414px) {
    .slide-image {
        width: 288pt;
        height: 175pt;
    }
}

@media only screen and (max-width: 375px) {
     .slide-image {
        width: 248pt;
        height:143pt;
     }

}

@media only screen and (max-width: 320px) {
    .slide-image {
        width: 208pt;
        height: 120pt;
    }
}